@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: #cc5500;
    text-decoration: underline;
    font-weight: bold;
}

html,
body {
    overflow-x: hidden;
}

/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    cursor: pointer;
    margin: 0 30px;
}

/* .nav-links li:hover {
    border: 2px solid orangered;
    padding: 3px;
    border-radius: 30%;
    color: black;
} */

header {
    width: 100vw;
    height: 100vh;
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.header-content {
    margin-bottom: 150px;
    color: white;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: linear-gradient(#a40606, #d98324);
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn {
    padding: 8px 15px;
    background: linear-gradient(#a40606, #d98324);
    border-radius: 30px;
    color: whitesmoke;
}

.btn:hover {
    background: #f53803;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Events */
section {
    width: 80%;
    margin: 80px auto;
}

.events .row {
    margin-top: 50px;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #d82020;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row .col img {
    width: 80%;
}

h4 {
    font-size: 4vmin;
    color: #f53803;
    margin: 20px auto;
}

p {
    color: black;
    padding: 0px 40px;
}

.events .btn {
    margin-top: 30px;
}

.explore {
    width: 100%;
    height: 100vh;
    background: url(exploring4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}

.explore-content h1 {
    font-size: 7vmin;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content p {
    color: black;
}

.explore-content .btn {
    margin-top: 40px;
}

.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.tours .row .col {
    width: 50%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img {
    max-width: 240px;
    margin: 10px;
}

.content-col h1 {
    font-size: 7vmin;
    color: #d82020;
}

.content-col .line {
    margin-left: -1px;
}

.content-col p {
    padding: 0;
    margin: 30px auto;
}

.content-col .btn {
    margin-left: -100px;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #b82e1f;
    text-align: center;
}

.footer p {
    color: white;
    margin: 20px auto;
    padding: 20px auto;
}

/* Mobile Device */
@media only screen and (max-width:850px) {
    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .menu-btn {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #ffae42;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links li {
        margin: 30px auto;
    }

    /* Events Section */
    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }

    .row .col img {
        max-width: 90%;
    }

    /* Explore Section */
    .explore-content {
        width: 100%;
    }

    .tours .col {
        width: 100%;
    }

    .image-gallery {
        justify-content: center;
        align-items: center;
    }

    .image-gallery img {
        width: 90%;
    }

    .footer {
        padding: 10px;
    }

    .btn {
        padding: 6px 10px;
    }
}