@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Tint&family=DM+Serif+Text:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Tint&family=DM+Serif+Text:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
}

nav {
    background-color: teal  ;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    font-family: "Merriweather", serif;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: "Merriweather", serif;
    position: relative;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.box:hover {
    background-color: #e5e8f5;
    cursor: pointer;
}

.gameInfo {
   padding: 0px 34px; 
   font-family: "Work Sans", sans-serif;
}

.gameInfo h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgb(14, 105, 138);
}

.info {
    font-size: 25px;
    font-weight: bold;
}

.imgbox img {
    margin: 15px;
    width: 0;
    transition: width 1s ease-in-out;
}

/* Utility Classes */
.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 5px 5px;
    margin-top: 5.9vw;
    text-align: center;
    font-family: "Work Sans", sans-serif;

}

#reset {
    margin: 0px 23px;
    padding: 3px 18px;
    background: radial-gradient(circle at 10% 20%, rgb(47, 232, 244) 0.1%, rgba(160, 244, 202, 0.86) 57.5%);
    border-radius: 8px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

#reset:hover {
    background: linear-gradient(110.7deg, rgb(9, 154, 151) 6.3%, rgb(21, 205, 168) 90.6%);
    color: white;
}

.line {
    background-color: #179ba7;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 34px;
    }
    
    .gameInfo h1 {
        font-size: 1.5rem;
    }

    .container {
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }

}