*{
    margin: 0px;
    padding: 0px;
}

#clock_container{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(Analog\ Clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 18%;
    width: 2%;
    top: 32%;
    left: 49.1%;
    opacity: 0.8;
}

#minute{
    height: 22%;
    width: 1.5%;
    top: 28%;
    left: 49%;
    opacity: 0.8;
}

#second{
    height: 25%;
    width: 0.5%;
    top: 25.5%;
    left: 49.7%;
    opacity: 0.8;
}

footer{
    background-color: black;
    color: white;
    padding: 5px 5px;
    margin-top: 2vw;
}

#center{
    text-align: center;
}