@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    border: border-box;
}

.navbar {
    height: 67px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Box1 */
.nav-logo {
    height: 50px;
    width: 165px;
}

.logo {
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}


/* Box2 */
.locat-1 {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}


.locat-2 {
    font-size: 1rem;
    margin-left: 3px;
}

.locat-icon {
    display: flex;
    align-items: center;
}

/* Box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 3px solid #FEBD69;
    border-radius: 7px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-select option {
    text-align: start;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FEBD69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #131921;
}

/* Box5 */
span {
    font-size: 0.79rem;
}

.nav-2 {
    font-size: 0.85rem;
    font-weight: 700;
}

/* Box7 */
.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */
.panel {
    height: 40px;
    background-color: #232F3E;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opt p {
    display: inline;
    margin-left: 15px;
}

.panel-opt {
    width: 90%;
    font-size: 0.85rem;
}

/* Hero section */
.hero-section {
    background-image: url("hero.jpg");
    height: 280px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* Shop section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FEEECA;
}

.box {
    height: 350px;
    width: 23%;
    background-color: #ffffff;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-content a {
    text-decoration: none;
    color: #2C8A9A;
}

.box-content a:hover {
    color: #e6a147;
}

.box-img {
    height: 223px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* footer */
footer {
    margin-top: 15px;
}

.foot-panel0 {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
    background-color: white;
    border-radius: 0px;
    padding: 50px;
    display: block;
}

.btn {
    margin: 0px 497px;
    display: block;
    background-color: #FFC83E;
    border: 1px solid #BD6621;
    border-radius: 4px;
    padding: 5px;
    width: 241px;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8rem;
}

.foot-panel0 .line1 {
    padding-bottom: 8px;
}

.foot-panel0 .line2 {
    padding-top: 8px;
}

.foot-panel0 a {
    text-decoration: none;
    color: #2C8A9A;
}

.foot-panel0 a:hover {
    color: #e6a147;
}

.foot-panel0 .size {
    font-size: 0.75rem;
}

.foot-panel1 {
    background-color: #37475A;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    color: white;
    cursor: pointer;
}

.foot-panel1:hover {
    background-color: #414e5c;
}

.foot-panel2 {
    color: white;
    background-color: #232F3E;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

.foot-panel3 {
    background-color: #232F3E;
    color: #DDDDDD;
    border-top: 0.5px solid #DDDDDD;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 166px;
}

.foot-panel3 .logo {
    cursor: pointer;
}

.foot-panel4 {
    background-color: #131921;
    color: #B6B5B9;
    height: 100px;
    font-size: 0.8rem;
    text-align: center;
}

.pages {
    font-size: 0.8rem;
    padding-top: 25px;
}

.pages a {
    color: #B6B5B9;
    text-decoration: none;
    padding-right: 15px;
}

.pages a:hover {
    text-decoration: underline;
}

.copyright {
    padding-top: 7px;
}